<?xml version="1.0" encoding="UTF-8" ?>
<resource-context>
    <endpoints>
        <endpoint>
            <name>rabbit01</name>
            <type>rabbitmq</type>
            <args>
                <arg name="host" value="192.168.0.21:5672"/>
                <arg name="username" value="guest"/>
                <arg name="password" value="guest"/>
                <arg name="vhost" value="platform"/>
            </args>
        </endpoint>
        <endpoint>
            <name>rabbit02</name>
            <type>rabbitmq</type>
            <args>
                <arg name="host" value="192.168.0.21:5672"/>
                <arg name="username" value="guest"/>
                <arg name="password" value="guest"/>
            </args>
        </endpoint>
    </endpoints>
    <channels>
        <channel>
            <name>testChannel</name>
            <endpoint-ref>rabbit01</endpoint-ref>
            <args>
                <arg name="exchange" value="testExchange"/>
                <arg name="routing-key" value="a.b.c,a.b.d,a.b.e"/>
            </args>
        </channel>
        <channel>
            <name>testChannel2</name>
            <endpoint>
                <name>rabbit02</name>
                <type>rabbitmq</type>
                <args>
                    <arg name="host" value="192.168.0.21:5672"/>
                    <arg name="username" value="guest"/>
                    <arg name="password" value="guest"/>
                    <arg name="vhost" value="platform"/>
                </args>
            </endpoint>
            <args>
                <arg name="exchange" value="testExchange"/>
                <arg name="routing-key" value="a.b.c,a.b.d,a.b.e"/>
            </args>
        </channel>
    </channels>
    <resources>
        <resource>
            <type>mongodb</type>
            <name>mongo/mongo02</name>
            <args>
                <arg name="url" value="mongo://192.168.0.99:27017/test2"/>
            </args>
        </resource>

        <resource>
            <type>mongodb</type>
            <name>mongo01</name>
            <args>
                <arg name="url" value="mongo://192.168.0.99:27017/testdb"/>
            </args>
        </resource>
    </resources>
</resource-context>